.safety__Construction{
    display: flex;
    padding: 2rem 3rem;
    /* background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%); */
    /* background-color: rgb(91, 91, 234); */
}
#symbols-left,
#symbols-right{
    width: 50px;
    height: 50px;
    z-index: 2;
    cursor: pointer;
    background-color: rgb(255,255,255, 0.2);
    opacity: 1;
}
.safety__Construction-Para{
    padding: 3rem 2rem;
    background-color: rgb(99, 99, 209);
    border-radius: 10px;
    box-shadow: 15px 15px 15px rgb(145, 159, 241);
}
#head-help{
    height: 10px;
    width: 15%;
    margin-bottom: 2rem;
    background-color: darkblue;
}
#symbols-left{
    margin-right: -50px;
}
#symbols-right{
    margin-left: -50px;
}
.safety__Construction-Content{
    display: flex;
    flex-direction: column;
    flex: 2;
    padding: 2rem 4rem;
    margin: 2rem 4rem;
    margin-top: 0;
    justify-content: flex-start;
    align-items: flex-start;
}
.safety__Construction-Img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.safety__Construction-Img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.safety__Construction-Content h3{
    font-size: 2.6rem;
    font-weight: 600;
    padding: 0 2rem;
    margin-bottom: 0;
    padding-left: 0;
}
.safety__Construction-Content p{
    padding:0 2rem;
    color: #fff;
    font-size: 1.8rem;
}
.safety__Construction-Content button{
    padding: 1rem 2rem;
    cursor: pointer;
    font-size: 28px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: #fff;
    margin: 0 2rem;
    transition: padding 0.3s ease
}

@media screen and (max-width: 1250px){
    .safety__Construction{
        width: 100%;
        padding: 2rem 0rem;
        margin: 2rem 0rem;
    }
    .safety__Construction-Content{
        padding: 1rem 1rem;
        margin: 1rem 1rem;
    }
}

@media screen and (max-width: 930px) {
    .safety__Construction{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .safety__Construction-Img{
       padding: 2rem 2rem;
    }
}

@media screen and (max-width: 623px){
    .safety__Construction-Content{
        padding: 1rem 0.5rem;
        margin: 0;
    }
}

