.safety__Dashboard-Road{
    width: 100%;
    padding: 2rem 0rem;
}
.dashc-head-help{
    height: 10px;
    background-color: darkblue;
    width: 10%;
    margin-bottom: 2rem;
    transition: width 0.3s ease-in;
}
.dashc-head-help:hover{
    width: 20%;
}
.safety__Dashboard-Road-vedio-image{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 2rem;
}
.safety__Dashboard-Road-vedio h1{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 5px;
}
.safety__Dashboard-Road-vedio {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;
    margin-right: 0;
    margin-left: 5rem;
    padding-right: 0;
}
.safety__Dashboard-Road-vedio h1{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.safety__Dashboard-Road-vedio video {
    width: 100%;
    min-width: 400px;
    height: 100%;
    box-shadow: 3px 3px 15px grey;
    border: 5px solid grey;
    border-radius: 10px;
}
.safety__Dashboard-Road-OriginalImg{
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}
.safety__Dashboard-Road-OriginalImg h2{
    font-size: 1.8rem;
    margin-bottom: 5px;
}
.safety_button_form{
    display: flex;
    height: 100px;
    padding: 1rem 0;
    margin: 1rem;
    gap: 10%;
}
.live__stream_button button{
    width: 200px;
    height: 50px;
    background-color: blue;
    cursor: pointer;
    color: whitesmoke;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
}
.upload_images{
    height: 50px;
    margin-top: 1.5rem;
}
.upload_images input{
     width: 300px;
     height: 40px;
     font-size: 1.4rem;
}
.upload_images button{
    width: 200px;
    height: 50px;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    padding: 1rem 1rem;
    cursor: pointer;
    background-color: blue;
    border: none;
}
.safety__Dashboard-Road-ModelImage{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 0rem;
    gap: 20px;
    flex-wrap: wrap;
}
.safety__Dashboard-Road-ModelImage h2{
    font-size: 1.8rem;
}
.safety__Dashboard-Road-ModelImage img{
    box-shadow: 9px 9px 15px grey;
    width: 600px;
    height: auto;
    border-radius: 10px;
}
.safety__Dashboard-Road-HeadImg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.original-headc-help{
    width: 10%;
    height: 10px;
    background-color: darkblue;
    transition: width 0.3s ease-in;
}
.original-headc-help:hover{
    width: 20%;
}
.safety__Dashboard-Class{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem 0rem;
    flex-wrap: wrap;
}

.safety__Dashboard-Road-ClassList{
     flex: 1;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
.safety__Dashboard-Road-ClassList h2{
    font-size: 1.8rem;
    margin-bottom: 5px;
}
.classlist-head-help{
    height: 10px;
    width: 15%;
    margin-bottom: 2rem;
    background-color: darkblue;
    transition: width 0.3s ease-in;
}
.classlist-head-help:hover{
   width:25%
}
.safety__Dashboard-Road-ClassList li{
    font-size: 1.4rem;
    padding: 1rem 3rem;
    border-radius: 5px;
    list-style: circle;
    margin-bottom: 2px;
}
.safety__Dashboard-Road-Labels{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.safety__Dashboard-Road-Labels h2{
    font-size: 2rem;
    margin-bottom: 5px;
}
.safety__Dashboard-Road-Labels img{
    max-width: 600px;
    height: auto;
    box-shadow: 6px 6px 15px grey;
}
.safety__Dashboard-Road ul{
    margin-left: 0;
}
.labels-head-help{
    width: 15%;
    height: 10px;
    margin-bottom: 2rem;
    background-color: darkblue;
    transition: width 0.3s ease-in;
}
.labels-head-help:hover{
    width: 25%;
}

.stream{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:1250px) {
    .safety__Dashboard-Road-ModelImage img{
        width: 400px;
    }
    .live__stream_button button{
        width: 200px;
        height: 40px;
        font-size: 20px;
    }
    .upload_images input{
        font-size: 18px;
    }
    .upload_images button{
        width: 200px;
        height: 40px;
        font-size: 18px;
    }
}

@media screen and (max-width: 600px) {
    .safety__Dashboard-Road-vedio video{
         width: 90%;
    }
    .safety__Dashboard-Road-ModelImage img{
        width: 300px;
    }
    .safety__Dashboard-Road-ClassList li{
        font-size: 18px;
        align-self: center;
    }
    .safety__Dashboard-Road h2{
        font-size: 22px;
    }
    .safety__Dashboard-Road-Class{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .safety__Dashboard-Road h1{
        font-size: 22px;
    }
    .safety__Dashboard-Road-Labels img{
        width: 300px;
    }
}

@media screen and (max-width: 300px) {
    .safety__Dashboard-Road-ModelImage img{
        width: 200px;
    }
    .safety__Dashboard-Road-ClassList li{
        font-size: 16px;
    }
    .safety__Dashboard-Road-ClassList h2{
        font-size: 18px;
    }
}